.login-container {
  min-height: 100vh;
  background: #031453;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.login-header {
  text-align: center;
  color: white;
  margin-bottom: 18px;
}

.login-header h2 {
  margin: 8px 0 4px;
  font-size: 1.8rem;
  font-weight: 600;
}

.login-header p {
  margin: 0;
  font-size: 0.95rem;
  opacity: 0.9;
}

.card {
  width: 100%;
  max-width: 330px;
  border-radius: 16px;
  background: #ffffffea;
  padding: 1.5rem !important;
}

.btn-login {
  background: #1f2f6b;
  color: white;
  border-radius: 8px;
  transition: 0.2s;
}

.btn-login:hover {
  background: #16245a;
}

.btn-eye {
  background: #1f2f6b;
  color: white;
  border-radius: 0 8px 8px 0;
}

.btn-eye:hover {
  background: #16245a;
  color: white;
}

.logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.login-logo {
  width: 90px;
  height: auto;
  object-fit: contain;
}

a {
  color: #3b82f6;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer {
  position: absolute;
  bottom: 15px;
  color: #ddd;
  font-size: 12px;
  text-align: center;
}