.login-container {
  height: 100vh;
  background: #031453;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.login-header {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}


.card {
  width: 360px;
  border-radius: 16px;
  background: #f1f1f1;
}


.btn-login {
  background: #1f2f6b;
  color: white;
  border-radius: 8px;
}


.btn-eye {
  background: #1f2f6b;
  color: white;
  border-radius: 0 8px 8px 0;
}


.icon-box {
  width: 90px;
  height: 90px;
  background: #e6e6e6;
  border-radius: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto 10px;
}

.icon-box i {
  font-size: 45px;
  color: #14276d;
}

/* LINK */
a {
  color: #3b82f6;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}


.footer {
  position: absolute;
  bottom: 10px;
  color: #ddd;
  font-size: 12px;
}
