<!--
  TODO :  FAZER O LIVRO ESPANDIR, EXIBIR MODAL COM INFORMAÇÕES E CAPA DO LIVRO
 -->
<div class="row row-gap-3">
  <div class="col-12 col-md-10">
    <input type="text" [(ngModel)]="busca" (input)="onBuscar()" class="form-control" placeholder="Buscar livro...">
  </div>
  <div class="col-12 col-md-2">
    <button class="btn btn-success w-100">Nova estante</button>
  </div>
</div>

@for (estante of estantesFiltradas ; track $index) {
<div class="container-fluid bg-dark text-light p-4 mt-3">
  <div class="mb-4">

    <h5 class="text mb-4">
      {{estante.secao}}
    </h5>

    <small class="text-secondary ms-2">{{ estante.nome }}</small>

    <div class="estante-box p-4 rounded">
      @for (prateleira of estante.prateleiras; track $index){

      <div class="prateleira-container mb-4 overflow-x-auto">

        <div class="livros d-flex gap-2">
          @for (exemplar of prateleira.listaLivro; track $index) {
          <button class=" livro border-0 justify-content-center text-white ">
            {{ exemplar.titulo }}
          </button>
          }
        </div>

        <!-- LINHA -->
        <div class="linha bg-brown rounded-1 w-100"></div>

      </div>
      }


    </div>
  </div>
</div>
}