<div class="card p-4 shadow-sm">

  <h5 class="mb-3">Cadastrar Material no Acervo</h5>

  <label class="form-label">Tipo de Material</label>

  <div class="d-flex gap-3 mb-4">

    <button type="button" class="btn btn-lg w-100 p-4"
      [ngClass]="tipoMaterial == 'livro' ? 'btn-primary' : 'btn-outline-secondary'" (click)="selecionarTipo('livro')">

      <i class="bi bi-book fs-3"></i><br>
      <span class="fs-5">Livro</span>
    </button>

    <button type="button" class="btn btn-lg w-100 p-4"
      [ngClass]="tipoMaterial == 'periodico' ? 'btn-primary' : 'btn-outline-secondary'"
      (click)="selecionarTipo('periodico')">

      <i class="bi bi-journal fs-3"></i><br>
      <span class="fs-5">Periódico</span>
    </button>

    <button type="button" class="btn btn-lg w-100 p-4"
      [ngClass]="tipoMaterial == 'outros' ? 'btn-primary' : 'btn-outline-secondary'" (click)="selecionarTipo('outros')">

      <i class="bi bi-disc fs-3"></i><br>
      <span class="fs-5">Outros Materiais</span>
    </button>

  </div>

  <!-- LIVRO -->
  <form [formGroup]="formLivro" (ngSubmit)="salvarLivro()" *ngIf="tipoMaterial == 'livro'">
    <div *ngIf="mensagensErro.length > 0" class="alert alert-danger">

      <strong>Dados inválidos :</strong>

      <ul class="mb-0 mt-2">
        <li *ngFor="let erro of mensagensErro">
          {{ erro }}
        </li>
      </ul>

    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" placeholder="L-00001" formControlName="id"
          [class.is-invalid]="isInvalidLivro('id')">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Título *</label>
        <input type="text" class="form-control" formControlName="titulo" [class.is-invalid]="isInvalidLivro('titulo')">
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Subtítulo</label>
      <input type="text" class="form-control" formControlName="subtitulo"
        [class.is-invalid]="isInvalidLivro('subtitulo')">
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Autor *</label>
        <input type="text" class="form-control" formControlName="autor" [class.is-invalid]="isInvalidLivro('autor')">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Editora *</label>
        <input type="text" class="form-control" formControlName="editora"
          [class.is-invalid]="isInvalidLivro('editora')">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="form-label">Ano de Publicação *</label>
        <input type="date" class="form-control" formControlName="anoPublicacao"
          [class.is-invalid]="isInvalidLivro('anoPublicacao')">
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label">ISBN *</label>
        <input type="text" class="form-control" formControlName="isbn" [class.is-invalid]="isInvalidLivro('isbn')">
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label">Edição</label>
        <input type="text" class="form-control" formControlName="edicao" [class.is-invalid]="isInvalidLivro('edicao')">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Gênero</label>

        <select class="form-select" formControlName="genero" [class.is-invalid]="isInvalidLivro('genero')">

          <option value="" disabled>Selecione...</option>
          <option value="Romance">Romance</option>
          <option value="Ficção Científica">Ficção Científica</option>
          <option value="Fantasia">Fantasia</option>
          <option value="Terror">Terror</option>
          <option value="Suspense">Suspense</option>
          <option value="Biografia">Biografia</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Qtd de Exemplares</label>
        <input type="number" class="form-control" min="1" formControlName="qtdExemplar"
          [class.is-invalid]="isInvalidLivro('qtdExemplar')">
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Sinopse</label>
      <textarea class="form-control" rows="3" formControlName="sinopse"
        [class.is-invalid]="isInvalidLivro('sinopse')"></textarea>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Localização na Estante</label>
        <input type="text" class="form-control" formControlName="localizacaoEstante"
          [class.is-invalid]="isInvalidLivro('localizacaoEstante')">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Unidade</label>

        <select class="form-select" formControlName="unidade" [class.is-invalid]="isInvalidLivro('unidade')">

          <option value="" disabled>Selecione...</option>
          <option>Biblioteca Central</option>
          <option>Unidade Norte</option>
          <option>Unidade Sul</option>
        </select>
      </div>
    </div>

    <div class="mb-4">
      <label class="form-label">Data de Aquisição</label>
      <input type="date" class="form-control" formControlName="dataAquisicao"
        [class.is-invalid]="isInvalidLivro('dataAquisicao')">
    </div>

  </form>

  <div *ngIf="tipoMaterial == 'periodico'">

    <div class="row">

      <div class="col-md-6 mb-3">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" placeholder="P-00001" disabled>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Título *</label>
        <input type="text" class="form-control" [(ngModel)]="tituloPeriodico">
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 mb-3">
        <label class="form-label">Editor *</label>
        <input type="text" class="form-control" [(ngModel)]="editor">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Edição / Volume / Número *</label>
        <input type="text" class="form-control" [(ngModel)]="edicaoVolumeNumero">
      </div>

    </div>

    <div class="row">

      <div class="col-md-6 mb-3">
        <label class="form-label">Data de Publicação</label>
        <input type="date" class="form-control" [(ngModel)]="dataPublicacao">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">ISSN *</label>
        <input type="text" class="form-control" [(ngModel)]="issn">
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Tema</label>
      <input type="text" class="form-control" [(ngModel)]="tema">
    </div>

    <div class="mb-3">
      <label class="form-label">Descrição</label>
      <textarea class="form-control" rows="3" [(ngModel)]="descricaoPeriodico"></textarea>
    </div>

    <div class="row">

      <div class="col-md-6 mb-3">
        <label class="form-label">Qtd de Exemplares</label>
        <input type="number" class="form-control" [imask]="Mask.INTEIRO" [(ngModel)]="quantidadeExemplaresPeriodico">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Localização na Estante</label>
        <input type="text" class="form-control" [(ngModel)]="localizacaoPeriodico">
      </div>

    </div>

    <div class="mb-4">
      <label class="form-label">Unidade</label>

      <select class="form-select" [(ngModel)]="unidadePeriodico">
        <option selected disabled>Selecione...</option>
        <option>Biblioteca Central</option>
        <option>Unidade Norte</option>
        <option>Unidade Sul</option>
      </select>

    </div>

  </div>

  <!-- OUTROS MATERIAIS -->
  <div *ngIf="tipoMaterial == 'outros'">

    <div class="row">

      <div class="col-md-6 mb-3">
        <label class="form-label">ID</label>
        <input type="text" class="form-control" placeholder="OM-00001" disabled>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Nome *</label>
        <input type="text" class="form-control" [(ngModel)]="nomeMaterial">
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Tipo *</label>

      <select class="form-select" [(ngModel)]="tipoOutroMaterial">
        <option selected disabled>Selecione...</option>
        <option>DVD</option>
        <option>Mapa</option>
        <option>Jogo</option>
        <option>Outro</option>
      </select>

    </div>

    <div class="mb-3">
      <label class="form-label">Autor</label>
      <input type="text" class="form-control" [(ngModel)]="autorMaterial">
    </div>

    <div class="mb-3">
      <label class="form-label">Descrição</label>
      <textarea class="form-control" rows="3" [(ngModel)]="descricaoMaterial"></textarea>
    </div>

    <div class="row">

      <div class="col-md-6 mb-3">
        <label class="form-label">Qtd de Exemplares</label>
        <input type="number" class="form-control" [imask]="Mask.INTEIRO" [(ngModel)]="quantidadeMaterial">
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Localização na Estante</label>
        <input type="text" class="form-control" [(ngModel)]="localizacaoMaterial">
      </div>

    </div>

    <div class="mb-3">
      <label class="form-label">Unidade</label>

      <select class="form-select" [(ngModel)]="unidadeMaterial">
        <option selected disabled>Selecione...</option>
        <option>Biblioteca Central</option>
        <option>Unidade Norte</option>
        <option>Unidade Sul</option>
      </select>

    </div>

    <div class="mb-4">
      <label class="form-label">Observação</label>
      <textarea class="form-control" rows="3" [(ngModel)]="observacao"></textarea>
    </div>

  </div>

  <hr>

  <div class="d-flex justify-content-end gap-2">
    <button class="btn btn-secondary" (click)="limpar()">
      Limpar
    </button>

    <button class="btn btn-primary" (click)="salvarLivro()">
      Salvar
    </button>
  </div>

</div>