.dashboard {
  width: 48%;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  min-height: 400px;
  max-height: 450px;
}

/* Tablet e desktop */
@media (max-width: 768px) {
  .dashboard {
    width: 100%;
  }
}
