.footer .row {
  column-gap: 40px;
}
.footer .small {

  font-size: 12px;
}
.footer-logo{
  display: flex;

  align-items: center;
  
  gap: 10px;

  margin-bottom: 10px;
}

.footer-logo img {

  width: 32px;

  height: 32px;

  object-fit: contain;
}

.footer-logo h5 {

  margin: 0;
}

.footer h4{
  white-space: nowrap;
}

.duck-zone {

  position: fixed;

  bottom: 20px;

  right: -200px;

  z-index: 9999;

  animation: ducksWalk 10s linear forwards;
}

.duck-zone img {

  width: 120px;

  height: auto;
}

@keyframes ducksWalk {

  from {

    transform: translateX(0);
  }

  to {

    transform: translateX(-2200px);
  }
}