.dropdown-menu {
  max-width: 320px;
  width: 320px;
  max-height: 80vh;
  overflow-y: auto;
}

.navbar-logo {
  text-decoration: none;
  color: inherit;
}

.navbar-logo img {
  width: 40px;
  height: auto;
}

/* ativo padrão */
.nav-link.active {
  border-bottom: 1px blue solid;
  font-weight: 500;
}

/* hover normal */
.nav-link:hover {
  font-weight: bolder;
}